header {
  color: navy;
  background-color: lightyellow;
  border: 1px solid black;
}

img {
  float: left; 
  width: 200px;
  height: 200px;
  margin-right:50px;
  border: 1px solid black;
}

h1 {
  text-align: center;
  height: 150px;
  border-radius: 25px;
  font-size: 100px;
  padding: 35px
}

h2 {
  text-align: center;
  height: 50px;
  padding: 25px;
  border-style: solid;
  border-radius: 25px;
  font-size: 40px;
  font-weight: bold;
  background-color:#bbb;
}

.productImage {
  float: center; 

}

footer {     
  width: 1000px;
}
